body {
  background-image: url("../src/Component/Images/bg.jpg");
  background-size: cover;
}
.no {
  width: 1px;
}
.list {
  width: 900px;
  text-align: center;
}
.action {
  text-align: center;
}
.isilist {
  text-align: center;
  padding: 6px 12px;
}
.input {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.form {
  width: 500px;
  background-color: rgba(179, 111, 8, 0.74);
  border: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.form::placeholder {
  color: white;
  text-indent: 10px;
}
.judul {
  text-align: center;
  margin-top: 100px;
}
.conTable {
  background-color: rgba(0, 0, 0, 0.466);
  border-radius: 10px;
}
.list-data {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 30px;
}
